	{% extends 'ajhsite/base.html' %}
	{% load static %}
	{% block content%}
    
		<div class="container border-bottom">
			<h2>About</h2>
		</div>
		
		<div class="container mt-4">
			
			AnthonyJHunter.com was created to highlight the main aspects of my life.  I am so very blessed
			to be have multiple interests, gifts and talents to share with the world.  I believe each person
			is designed by God to reach a level of greatness only they can attain.  That means there is a degree
			of uniqueness each one of us has and by extension, this also means there are some things the world
			never experience unless we walk our designated paths.
		</div>
			
		<div class="container mt-4">
			<div class="content mb-2 border-bottom">
				<h3>The Preacher</h3>
			</div>
			<div class="content">
				<img src="{% static 'ajhsite/images/ajh_ministry.jpeg'%}" class="image-wrapper float-left pr-3 pb-3 w-25 rounded" alt="The Preacher" />
				As the Preacher, I am fulfilling my spiritual call to reach the world for Jesus Christ.  Not to condemn
				those who don't believe in God nor accept Christ as their Savior, but to demonstrate the love of God to
				everyone, even if they don't believe.  The reality is this, even though a person doesn't believe in God,
				He believes in them and has provided His grace and love to them regardless.  Hopefully, people who don't
				accept God and His son Jesus Christ, will recognize His love and begin to live their lives for Him.
			</div>
		</div>
		<br><br>
		<div class="container mt-4">
			<div class="content mb-2 border-bottom">
				<h3>The Professional</h3>
			</div>
			<div class="content">
				<img src="{% static 'ajhsite/images/ajh_professional.jpeg'%}" class="image-wrapper float-left pr-3 pb-3 w-25 rounded" alt="The Preacher" />
				As the Professional, I get to exercise my gift and talent for technology.  This is one of the reasons I
				created this website using a host of technologies instead of using a framework or some other tool.  I 
				wanted to use my skills and take the long way around granny's barn so to speak.  This helps me keep my
				technology skills sharp as well as provide an outlet for my nerdy, geeky desire to tinker with things! I
				currently work as an IT Consultant for one of the nations leading firms.  I love working in the 
				consulting space because I get to use a plethora of tools I already know, and I get to learn new tools
				as they become available on the "bleeding edge".
			</div>
		</div>
			
		<div class="container mt-4">
			<div class="content mb-2 border-bottom">
				<h3>The Pitmaster</h3>
			</div>
			<div class="content">
				<img src="{% static 'ajhsite/images/ajh_bbq.jpeg'%}" class="image-wrapper float-left pr-3 pb-3 w-25 rounded" alt="The Preacher" />
				As the Pitmaster, I get to share my most beloved gift of cooking BBQ, and bring joy to the hearts, minds
				and tummies of a lot of hungry people.  My mother taught me to cook when I was just a young boy and I
				have never lost touch with my love for cooking.  Specifically, BBQ is the love of my culinary life. I
				make my own BBQ rubs and sauces and I never compromise on the heart of my cooking technique... low and
				slow wood-smoked BBQ.  Good BBQ takes time and plenty of love for the process.  I will share some of my
				secrets, tips and processes with you on this site.
			</div>
		</div>

	{% endblock content%}