	{% extends 'ajhsite/base.html' %}
	{% load static %}
	{% block content%}

	<div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome!</h1>
          <p>
			  This website is all about me!  Here you will learn something of the three things that pretty much sums up who I am
			  and what it is I do.  You will find inspiration for your spirit and information for your mind along with some
			  satisfaction for your belly!  Hang out here with me for a while.
		  </p>
		  <hr class="my-4">
          <p><a class="btn btn-primary btn-lg" href="{% url 'site-about' %}" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

	<div class="container">
	<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
			<h2>Ministry</h2>
			<p>
				Serving God and people are the most important aspects of who I am.  I live to serve God and to see people
				grow, develop and thrive in life.
			</p>
			<p><a class="btn btn-secondary" href="{% url 'site-preacherBio'%}" role="button">More... &raquo;</a></p>
			</div>
			<div class="col-md-4">
			<h2>Technology</h2>
			<p>
				I am a complete geek at heart and mind!  I love all things technology but especially writing code.  In fact, This
				website is created from scratch by me!
			</p>
			<p><a class="btn btn-secondary" href="{% url 'site-professionalProfile'%}" role="button">More... &raquo;</a></p>
			</div>
			<div class="col-md-4">
			<h2>Barbecue</h2>
			<p>
				Well, what can I say?  People need to eat and I love to cook for them.  My specialty is authentic, low and slow,
				wood-smoked barbecue.  It's the best BBQ you never had!
			</p>
			<p><a class="btn btn-secondary" href="{% url 'site-pitmasterBio'%}" role="button">More... &raquo;</a></p>
			</div>
		</div>

		<hr>

	</div> <!-- /container -->

	{% endblock content%}