{% extends 'ajhsite/base.html' %}
{% load static %}
{% block content%}

  <div class="container border-bottom">
    <h2>Pitmaster Background</h2>
  </div>
  
  <div class="container mt-4">
      <p class="content">
      <img src="{% static 'ajhsite/images/madisonCooking.JPG'%}" class="image-wrapper float-left pr-3 pb-3 w-50 rounded" alt="Anthony Cooking" />
      In 1996 I went to St. Louis for a day trip.  On the way home I was hungry so I stopped at a BBQ joint called Bandana's 
      BBQ. In Indianapolis, BBQ typically comes in the form of high-heat grilled ribs and rib tips so, I was expecting more 
      of the same here.  On the table in the restaurant was a pamphlet explaining why the ribs would be pink around the edges,
      and informing me there was no need for concern - the ribs were cooked to doneness and the pink around the edges is nothing
      more than a "smokering".  I had never heard of any smokering before, so I was cautiously interested in seeing what these 
      ribs would look like and taste like.  
      <br /><br />
      When the food arrived, it looked and smelled insanely delicious!  In fact, the
      entire restaurant smelled delicious... like smoke wood.  The ribs indeed had a pink ring around the edges but my goodness,
      did they taste amazing!  They had a smokey flavor and were so tender! These ribs were so good I bought to slabs to go!
      I wanted my family and friends to taste these ribs.
      <br /><br />
      Immediately when I got home to Indy, I started searching the web for smoked ribs, smokerings and southern BBQ.  I found
      a wealth of information and learned so much about smoking meats.  I bought a smoker from a local hardware store and 
      jumped in the game with both feet. 
      <br /><br />
      Since then, I have competed in BBQ competitions, cooked for numerous events for family and friends, and I am now the
      owner and Pitmaster of Indy Smokehouse BBQ.  My full-time jobs prevents me from cooking the number of events I would
      like to, but I still enjoy a loyal following of local patrons who want my cooking from time to time.
      
      <blockquote class="blockquote text-center">
        <p class="mb-0">Goob barbecue don't need no sauce!</p>
        <footer class="blockquote-footer">Pitmaster Tony Hunter<cite title="Self"></cite></footer>
      </blockquote>

      </p>

  </div>

{% endblock content%}