{% extends 'ajhsite/base.html' %}
{% load static %}
{% block content%}
    
  <div class="container border-bottom">
    <h2>The Faith Framework</h2>
  </div>

  <div class="container mt-4">
    <p class="content">
  
      <div class="content mb-4">
        Rev. Hunter is the Author of the book: "The Faith Framework":
      </div>

      <div class="row container">
        <div class="content">
          <a target="_blank" href="https://www.buybooksontheweb.com/product.aspx?ISBN=0-7414-1263-2">
            <img class="image-wrapper float-left pr-3 pb-3 w-25 rounded" src="{% static 'ajhsite/images/CoverImage.jpg'%}" alt="The Faith Framework" />
          </a>
          Are you becoming more and more frustrated with trying to live the Christian life in faith?  Many 
          Christians are constantly told to have faith, they are criticized for not having enough faith, and they 
          are even condemned for having no faith at all.  This book will help every Christian learn how to live a 
          life of biblical faith!  In this book you will learn God’s framework for faith; you will learn what 
          faith means, what faith is, and how faith works. You no longer have to wonder if you have faith or not, 
          or if your faith is strong enough; this book will give you clarity and assurance about living a life of 
          true biblical faith in God.
        </div>
      </div>

      <div class="content mt-4">
        <p>
          If you want to explore the true meaning of faith, 
          <a target="_blank" href="https://www.buybooksontheweb.com/product.aspx?ISBN=0-7414-1263-2">
            Order this book.
          </a>
        </p>
      </div>
    </p>
  </div>
    
{% endblock content%}